body {
    padding: 0 30px 0 10px;
}

h1 {
    margin: 10px 0 20px 30px;
    color: black;
}

.roles {
    display: block;
    width: 150px;
    height: 500px;
    margin-right: 40px;
    margin-left: 30px;
    float: left;
}

a {
    color: black;
    text-decoration: none;
}

.role:hover a {
    color: white;
}

.btn-dark {
    color: white;
}

.btn {
    width: 100%;
}

.news {
    margin-right: 40px;
    display: block;
    height: 100%;
    width: 750px;
    float: left;
}

.insite-digest {
    width: 400px;   
    float: left;
}